.chatContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1300px;
  }
  
  .chatWrapper {
    display: flex;
    width: 90%;
    max-width: 1200px; /* Largeur maximale pour le conteneur */
    height: 80%;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    overflow: hidden;
  }
  
  .chatSidebar {
    width: 250px; /* Largeur fixe pour la liste des interlocuteurs */
    padding: 20px;
    background-color: #f8f9fa;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .chatSidebar h3 {
    margin-bottom: 10px;
  }
  
  .userList {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: calc(100% - 40px); /* Hauteur de la barre latérale moins le rembourrage */
  }
  
  .userListItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .userListItem img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .chatArea {
  flex: 1;
  width: calc(100%); /* Largeur dynamique pour la zone de chat */
  padding: 20px;
  background-color: #ffffff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow-y: auto;
  word-wrap: break-word; /* Les mots longs se coupent automatiquement */
}

@media screen and (max-width: 768px) {
  .chatContainer {
    width: 100%;
  }

  .chatSidebar {
    width: 100px; /* Largeur fixe pour la liste des interlocuteurs */
    padding: 20px;
    background-color: #f8f9fa;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

  